.input {
  position: fixed;
  bottom: 1%;
  margin: 0 auto;
  z-index: 1;

  .input-container {
    width: $conversation-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 42px 10px 10px;
    background-color: #3b3b3b;
    border-radius: 20px;

    .input-text {
      max-height: 250px;
      min-height: 80px;
      resize: none;
      border: none;
      overflow: hidden;
      background-color: #3b3b3b;
      color: white;

      &::-webkit-scrollbar {
        display: none;
      }
      
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    i {
      position: absolute;
      right: 10px;
      float: right;
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.5s ease;

      &.disabled {
        opacity: 0.2;
        cursor: auto;
      }
    }
  }
}
