.home {
  height: 100vh;
  display: flex;

  .hamburger{
    top: 3px;
    left: 5px;
    position: absolute;
    display: none;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home-input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - $sidebar-width);

    .home-title{
      margin-bottom: 2%;
      font-size: 200%;
      font-weight: 500;
      user-select: none;
    }

    .input{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
    }
  }
}
