.sidebar{
  display: none;
  width: 100dvw;

  &.open{
    display: block;
  }

  .sidebar-icons {
    justify-content:flex-start;
    flex-direction: row-reverse;
  }

  .sidebar-history {
    ul {
      li {
        width: 90dvw;
        .sidebar-history-text{
          width: 80dvw;
        }
      }
    }
  }
}

